---
import CustomNavbar from '@components/CustomNavbar.jsx';
import VideoYoutube from '@components/YouTubeBackground';
import "../../styles/global.css";
import { ClientRouter } from 'astro:transitions';

const { title = "My Bands" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <ClientRouter />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>

  <body class="bg-transparent text-white min-h-screen flex flex-col relative overflow-hidden font-rocksalt">
    <VideoYoutube client:load />
    <CustomNavbar client:load />

    <main class="flex-grow relative z-10 bg-transparent">
      <slot />
    </main>

    <footer class="bg-transparent text-white text-center py-4 text-sm relative z-10">
      © All are my favorite bands, all rights are reserved by me 2025.
    </footer>
  </body>
</html>
