---
import Navbar from '@components/Navbar.astro'
import "../../styles/global.css";
import { ClientRouter } from 'astro:transitions';
const { title = "My Bands" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
     <ClientRouter />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  
  <body class="bg-zinc-950 text-white min-h-screen flex flex-col">
    <Navbar />
    
    <main class="flex-grow">
      <slot />
    </main>
    
    <footer class="bg-black/40 text-white text-center py-4 text-sm w-full">
      © All are my favorite bands, all rights are reserved by me 2025.
    </footer>
  </body>
</html>
